<div id="navbar" class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="./" class="brand">Site</a>
			<div class="nav-collapse collapse">
				<p class="navbar-text pull-right visible-desktop">
	            	<a href="#" class="navbar-link" ng-bind-template="{{site.user}}">Guest</a>
	            </p>
				<ul class="nav">
					<li><a href="/"><i class="icon-home"></i> Home</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Bootstrap <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
							<li class="dropdown-submenu">
								<a tabindex="-1" href="#demo/bs">Demos</a>
								<ul class="dropdown-menu">
									<li><a tabindex="-1" href="#demo/bs/button">Buttons</a></li>
									<li><a tabindex="-1" href="#">Something else here</a></li>
									<li class="dropdown-submenu">
										<a tabindex="-1" href="#">More options</a>
										<ul class="dropdown-menu">
											<li><a tabindex="-1" href="#">Another action</a></li>
											<li><a tabindex="-1" href="#">Something else here</a></li>
											<li><a tabindex="-1" href="#">Something else here</a></li>
										</ul>
									</li>
								</ul>								
							</li>
							<li><a tabindex="-1" href="#">Another action</a></li>
							<li><a tabindex="-1" href="#">Something else here</a></li>
							<li class="divider"></li>
							<li class="dropdown-submenu">
								<a tabindex="-1" href="#">More options</a>
								<ul class="dropdown-menu">
									<li><a tabindex="-1" href="#">Another action</a></li>
									<li><a tabindex="-1" href="#">Something else here</a></li>
									<li class="dropdown-submenu">
										<a tabindex="-1" href="#">More options</a>
										<ul class="dropdown-menu">
											<li><a tabindex="-1" href="#">Another action</a></li>
											<li><a tabindex="-1" href="#">Something else here</a></li>
											<li><a tabindex="-1" href="#">Something else here</a></li>
										</ul>
									</li>
								</ul>								
							</li>
						</ul>
					</li>					
					<li><a href="#/view1">view1</a></li>
					<li><a href="#/view2">view2</a></li>
				</ul>
			</div>				
		</div>
	</div>
</div>